<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>Users Favorite Songs</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico')}}"/>
</head>
<body>
    <div class="container-fluid">
        <nav class = "d-flex justify-content-between align-items-center col-12 bg-dark">
            <h1 class = "text-center bg-dark text-secondary">Welcome {{users.first_name}}</h1>
            <img class ="rounded-circle account-img" src = "{{image_file}}{{session['user_picture']}}">
            <div class = "d-flex col-5 justify-content-around">
                <a href="/logout" class = "btn btn-danger">logout</a>
                <a href="/user/{{session['user_id']}}" class = "btn btn-danger">Edit User Information</a>
            </div>
        </nav>
            {% with messages = get_flashed_messages(category_filter=["message"]) %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p class = "text-danger">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <h1 class = "text-secondary ml-3">Add Your Favorite Song</h1>
        <form action="/create/song" method="post" class = "bg-dark">
            <div class ="d-flex justify-content-between align-items-center form-row text-white ml-3">
                <div class = "form-group col-md-6">
                    <label for="song">What is your favorite song?</label>
                    <input type="text" name="song_name" class = "form-control text-white bg-secondary">
                    <label for="artist_name">Artists name?</label>
                    <input type="text" name="artist_name" class = "form-control mr-2 text-white bg-secondary">
                </div>
                <div class = "form-group col-md-6 mt-5">
                    <label for="description">Why is it favorite song?</label>
                    <textarea type="textarea" id = "description" name="description" class = "form-control large mb-1 bg-secondary text-white" rows = "4"></textarea>
                    <label for="genre">Genre</label>
                    <select name="genre" id = "genre" class= "bg-secondary text-white">
                        <option value="rock">Rock</option>
                        <option value="rap">Rap</option>
                        <option value="metal">Metal</option>
                        <option value="jazz">Jazz</option>
                        <option value="classical">Classical</option>
                        <option value="indie">Indie</option>
                        <option value="emo">Emo</option>
                        <option value="reggae">Reggae</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
                <input type="submit" value = "Add Song" name="song" class = "mb-3 ml-3 btn btn-danger">
        </form>
        <h1 class = "text-secondary mt-2">All Users Favorite Songs</h1>
        {% with errors = get_flashed_messages(category_filter=["error"]) %}     <!-- declare a variable called messages -->
                {% if errors %} 
                    <div class ="alert-message block-message error">
                        {%- for message in errors %}            <!-- loop through the messages -->
                            <p class = "text-danger">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                {% endif %}
                    </div>
            {% endwith %}
        {% for song in all_songs%}
        <div id = "box">
            <div class = "mt-5 justify-content-around">
                <div class = "d-flex bg-dark">
                    <img class ="rounded-circle account-img bg-dark mt-2 ml-2"  style = "width:60px" src = {{image_file}}{{song.creator.picture}}> 
                    <p class="bg-dark col-10 pt-3 pb-5 mt-2"><a href = "/users/{{song.creator.id}}" class = "text-danger"> {{song.creator.first_name}}:  </a> {{ song.song_name }} By: {{song.artist_name}} Because {{ song.description }} | Genre: {{song.genre}}</p>
                    <a href ="/song/lyrics/{{song.id}}" class = "btn btn-danger mt-3" style = "height:40px">Lyrics</a>

                </div>   
                <div class = "bg-dark no-gutter">
                    <div class = "form-inline">
                        <p class = "bg-dark ml-2 mb-2">Posted On: {{song.created_at.strftime('%m,%d,%Y')}} @ {{song.created_at.strftime('%l:%M %p')}}</p>
                        {% if song.created_at != song.updated_at %}
                        <p class = "bg-dark ml-2 mb-2"> Updated At: {{song.updated_at.strftime('%m,%d,%Y')}} @ {{song.updated_at.strftime('%l:%M %p')}}</p>
                        {% endif %}
                    </div>
                    {% if song.creator.id == session['user_id'] %}
                    <a href="/destroy/song/{{song.id}}" class = "text-danger bg-dark mb-2 ml-2">Delete</a> 
                    <a href ="/edit/song/{{song.id}}" class = "text-danger bg-dark mb-2 ml-2">Edit</a>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>    
    </div>
</body>
</html>
</html>