/* *{
    border: 1px solid red;
} */

body {
    background-color: rgb(34, 34, 34);
}

p {
    color: whitesmoke
}

#box {
    width:1110px;
    margin-left:2%
}
img {
    height:60px;
    width: 60px;
    width:auto;
    padding-bottom: -5px;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}